html,
body {
  font-family: Karla, sans-serif;
  margin: 0;
  background-color: #f4f2ee;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100%;
  flex: 1;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #443829;
}

.header-container h2 {
  font-size: 1.3rem;
  margin-bottom: 30px;
  color: #443829;
}

.table-container {
  max-width: 750px;
  margin-left: 3px;
  margin-right: 3px;
}

.table-search-container {
  border: 1px solid #dddddd;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 0;
  background-color: white;
}

.table-search-container h3 {
  font-size: 0.8rem;
  margin: 10px 10px;
  font-weight: normal;
}

.search-input {
  padding: 8px;
  margin: 3px 10px 10px 10px;
  font-size: 1rem;
  width: 60%;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.suburb-table {
  border-collapse: collapse;
  width: 100%;
}

.suburb-table thead tr {
  background-color: rgb(19, 88, 154);
  border: 1px solid rgb(19, 88, 154);
  color: white;
}

.suburb-table th,
.suburb-table td {
  padding: 12px 15px;
}

.suburb-table .left {
  text-align: center;
}

.suburb-table .right {
  text-align: center;
}

.suburb-table tbody tr {
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  font-size: 1.2rem;
  background-color: white;
}

.suburb-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-header th {
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;
}

.table-header th:hover {
  background-color: rgb(12, 61, 107);
}

.heading-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-text {
  margin: 0;
}

.sort-icon {
  width: 22px;
  justify-self: center;
  align-self: center;
  margin-left: 10px;
}

.trailer-image {
  width: 100%;
  display: block;
}
.white-goods-image {
  display: block;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: rgb(27, 27, 27);
  color: rgb(204, 204, 204);
  width: 100%;
}
